li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff
}

.footer-div {
    padding: 2rem 0;
}

@media(max-width:576px) {
    .footer-div {
        border-top: 1px solid #aaa;
    }
}

footer {
    position: relative;
}